      <form action="/bbs?db=<#dbname>" method="post">
      <div style="HEIGHT: 15px; WIDTH: 70px; POSITION: relative; DISPLAY: inline" ms_positioning="FlowLayout">お名前
      </div><input name="name" value="<#username>">
      <div style="HEIGHT: 15px; WIDTH: 70px; POSITION: relative; DISPLAY: inline" ms_positioning="FlowLayout">タイトル
      </div><input name="title">  <input type="submit" value="送信">  <p></p>
      <p><textarea name="comment" style="HEIGHT: 156px; WIDTH: 633px" rows="1" cols="39"></textarea>
      </form>
