<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <title><#title></title>
    <meta charset="utf-8">
	<script type=text/javascript src=//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js></script>
	  <script src=//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js></script>
    <link rel=stylesheet href=css/main.css>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
    <#title2>
    <p>
    </p>
    <section style=display:block>
    <form action="/bbs?db=<#dbname>" method="post" style=
      <div style="HEIGHT: 15px; WIDTH: 70px; POSITION: relative; DISPLAY: inline" ms_positioning="FlowLayout">お名前
</div><input name="name" value="<#username>">
      <div style="HEIGHT: 15px; WIDTH: 70px; POSITION: relative; DISPLAY: inline" ms_positioning="FlowLayout">タイトル
</div><input name="title">
      <input type="submit" value="送信">
    <p></p>
    <p></p>
    <p><textarea name="comment" style="HEIGHT: 156px; WIDTH: 633px" rows="1" cols="39"></textarea>&nbsp;
</p>
    </form>
    </section>
    <p></p>
      <hr size="1" width="100%">
    <#footer>
    <#main>
    <a id=bottom></a>
    <#footer refer="true">
    <a href=/admin?db=<#dbname>>管理者</a>
  </body>
</html>
