<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <title></title>
    <meta charset=utf-8>
    <link rel=sytlesheet href=css/main.css>
  </head>

  <body>
    <form action="/search" method="post">
    <p align="center"><strong>投稿検索
</strong>
    </p>
    <p>
</p>
    <p>
    </p>
      <p align="center">AND検索</p>
        <div style="HEIGHT: 26px; WIDTH: 105px; POSITION: relative; DISPLAY: inline" ms_positioning="FlowLayout">検索ワード
</div>
      <p>&nbsp;<input name="word1" value=<#word>></p>
    <p><input type="radio" name="filter" style="HEIGHT: 20px; WIDTH: 17px" size="17" value="name">名前から検索 <input type="radio" checked="true" style="HEIGHT: 20px; WIDTH: 16px" size="16" name="filter" value="com">本文から検索
</p>
      <p>
    <input type="submit" value="検索"></p>
    </form>
    <#main>
  </body>
</html>
